<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.SSO.dao.UserDao">
    <resultMap id="User" type="com.example.SSO.domain.entity.User">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="mail" column="mail" jdbcType="VARCHAR"/>
        <result property="major" column="major" jdbcType="VARCHAR"/>
        <result property="headUrl" column="headUrl" jdbcType="VARCHAR"/>
        <result property="studentId" column="studentId" jdbcType="INTEGER"/>
    </resultMap>


    <select id="login" resultMap="User" resultType="com.example.SSO.domain.entity.User">
        SELECT studentId,password
        FROM user
        WHERE studentId = #{studentId} AND password = #{password}
    </select>

    <insert id="addUser" >
        INSERT INTO user(userName, password, studentId, major, mail)
        VALUES (#{userName},#{password},#{studentId},#{major},#{mail})
    </insert>

    <select id="selectUserByStudentId" resultMap="User" resultType="com.example.SSO.domain.entity.User">
        select *
        from user
        where studentId = #{studentId}
    </select>

    <update id="updatePassword">
        update user set password=#{password}
        where studentId=#{studentId}
    </update>

    <update id="updateInfo">
        update user set userName=#{userName},major=#{major},headUrl=#{headUrl}
        where studentId=#{studentId}
    </update>

    <delete id="deleteDirection" parameterType="java.util.List">
        delete from user_direction
        where studentId=#{studentId}
    </delete>

    <insert id="insertDirection" parameterType="com.example.SSO.domain.entity.userDirection">
        insert into user_direction(studentId, direction)
        values
        <foreach collection="userDirection" item="item" separator=",">
            (#{item.studentId},#{item.direction})
        </foreach>
    </insert>

    <select id="displayDirection" parameterType="com.example.SSO.domain.entity.User" resultType="java.lang.Integer">
        select direction from user_direction
        where studentId=#{studentId}
    </select>

</mapper>